{
  "trustAnchors": "test",
  "swagger": "2.0",
  "info": {
    "description": "The HEAT <u><b>INTERACTIVE</b></u> REST API, ",
    "version": "1.0",
    "title": "HEAT API",
    "contact": {
      "url": "http://heatledger.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://raw.githubusercontent.com/Heat-Ledger-Ltd/heat-ui/master/LICENSE"
    }
  },
  "host": "heatwallet.com:7734",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "Blockchain"
    },
    {
      "name": "Peers"
    },
    {
      "name": "Mining"
    },
    {
      "name": "Trade"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Register"
    },
    {
      "name": "MicroService"
    },
    {
      "name": "Exchange"
    },
    {
      "name": "KeyStore"
    },
    {
      "name": "Search"
    },
    {
      "name": "Tools"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Order"
    },
    {
      "name": "Benchmark"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/account/balance/virtual/{account}/{asset}/{propertiesAccountId}/{propertiesProtocol}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns account asset balance, balance with asset=0 is your HEAT balance. This includes your virtual balance (requires replicator)",
        "description": "",
        "operationId": "balanceVirtual",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account numeric id",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          },
          {
            "name": "asset",
            "in": "path",
            "description": "Asset id, asset=0 is your HEAT balance",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertiesAccountId",
            "in": "path",
            "description": "Asset properties account id determines whose asset properties you want included in the result, a value of 0 means the asset issuer",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesProtocol",
            "in": "path",
            "description": "Asset properties protocol, a value of 0 means not to include asset properties in the result",
            "required": true,
            "type": "string",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccountBalance"
            }
          }
        }
      }
    },
    "/account/balance/{account}/{asset}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns account asset balance, balance with asset=0 is your HEAT balance",
        "description": "",
        "operationId": "balance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account numeric id",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          },
          {
            "name": "asset",
            "in": "path",
            "description": "Asset id, asset=0 is your HEAT balance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccountBalance"
            }
          }
        }
      }
    },
    "/account/balances/{account}/{propertiesAccountId}/{propertiesProtocol}/{from}/{to}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns account HEAT balance and all asset balances, balance with asset=0 is your HEAT balance (requires replicator)",
        "description": "",
        "operationId": "balances",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account numeric id",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          },
          {
            "name": "propertiesAccountId",
            "in": "path",
            "description": "Asset properties account id determines whose asset properties you want included in the result, a value of 0 means the asset issuer",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesProtocol",
            "in": "path",
            "description": "Asset properties protocol, a value of 0 means not to include asset properties in the result",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountBalance"
              }
            }
          }
        }
      }
    },
    "/account/find/hash/{hash}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find account by numeric name hash",
        "description": "",
        "operationId": "find hash",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "Account name numeric hash",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/account/find/name/{name}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find account by name",
        "description": "",
        "operationId": "name",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The account name (UTF-8)",
            "required": true,
            "type": "string",
            "x-example": "heatledger"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/account/find/publickey/{publicKey}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find account by public key",
        "description": "",
        "operationId": "publicKeyFind",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The account public key in HEX format",
            "required": true,
            "type": "string",
            "x-example": "1259ec21d31a30898d7cd1609f80d9668b4778e3d97e941044b39f0c44d2e51b"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/account/find/secretphrase/{secretPhrase}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find account by secret phrase",
        "description": "",
        "operationId": "secretPhrase",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "secretPhrase",
            "in": "path",
            "description": "The account secret phrase",
            "required": true,
            "type": "string",
            "x-example": "It was a bright cold day in April, and the clocks were striking thirteen."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/account/find/{numericId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find account by numeric id",
        "description": "",
        "operationId": "account",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "numericId",
            "in": "path",
            "description": "The account numeric id",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/account/internetaddress/{account}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns account registered internet address (the host of node on which account is forging)",
        "description": "",
        "operationId": "internetAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account numeric id",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccountInternetAddress"
            }
          }
        }
      }
    },
    "/account/list/{assigner}/{from}/{to}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts with public name (requires replicator)",
        "description": "",
        "operationId": "list",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "assigner",
            "in": "path",
            "description": "Account that assigned the name (pass 0 to include all assigners)",
            "required": true,
            "type": "string",
            "x-example": "0"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          }
        }
      }
    },
    "/account/payments/count/{account}/{currency}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns payments count from and to an account, includes asset payments (requires replicator)",
        "description": "",
        "operationId": "paymentsCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account id to returns payments from and to from",
            "required": true,
            "type": "string",
            "x-example": "0"
          },
          {
            "name": "currency",
            "in": "path",
            "description": "Currency ID or pass 'all' to indicate all currencies",
            "required": true,
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        }
      }
    },
    "/account/payments/{account}/{currency}/{sort}/{asc}/{from}/{to}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns payments from and to an account, includes asset payments (requires replicator)",
        "description": "",
        "operationId": "payments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account id to returns payments from and to from",
            "required": true,
            "type": "string",
            "x-example": "0"
          },
          {
            "name": "currency",
            "in": "path",
            "description": "Currency ID or pass 'all' to indicate all currencies",
            "required": true,
            "type": "string",
            "default": "all"
          },
          {
            "name": "sort",
            "in": "path",
            "description": "Sort on this property",
            "required": true,
            "type": "string",
            "default": "timestamp",
            "x-example": "timestamp",
            "enum": [
              "timestamp",
              "sender",
              "recipient",
              "amount"
            ]
          },
          {
            "name": "asc",
            "in": "path",
            "description": "Sort is ascending or descending",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Payment"
              }
            }
          }
        }
      }
    },
    "/account/publickey/{account}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns account publickey",
        "description": "",
        "operationId": "get publickey",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account numeric id",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Value"
            }
          }
        }
      }
    },
    "/account/search/{assigner}/{query}/{from}/{to}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Search accounts with public name by name (requires replicator)",
        "description": "",
        "operationId": "search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "assigner",
            "in": "path",
            "description": "Account that assigned the name (pass 0 to include all assigners)",
            "required": true,
            "type": "string",
            "x-example": "0"
          },
          {
            "name": "query",
            "in": "path",
            "description": "The account name (UTF-8)",
            "required": true,
            "type": "string",
            "x-example": "heatledger"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          }
        }
      }
    },
    "/benchmark/block/{height}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Get a minimal block object given the block height",
        "description": "",
        "operationId": "blockmin",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "description": "The block height",
            "required": true,
            "type": "string",
            "x-example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockMin"
            }
          }
        }
      }
    },
    "/benchmark/highestTransactionId/{blockId}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Get highest transaction id in a block",
        "description": "",
        "operationId": "highestTransactionId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "blockId",
            "in": "path",
            "description": "Block id",
            "required": true,
            "type": "string",
            "x-example": "1234567"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Value"
            }
          }
        }
      }
    },
    "/benchmark/registerAccount/{publicKey}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates an account",
        "description": "",
        "operationId": "registerAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "PublicKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Value"
            }
          }
        }
      }
    },
    "/blockchain/block/height/{height}/{includeTransactions}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a block object given its height",
        "description": "",
        "operationId": "height",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "1"
          },
          {
            "name": "includeTransactions",
            "in": "path",
            "description": "True to include transaction details, if false `transactions` will hold only transaction ids",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "false",
              "true"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Block"
            }
          }
        }
      }
    },
    "/blockchain/block/{numericId}/{includeTransactions}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a block object given a numeric block id",
        "description": "",
        "operationId": "block",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "numericId",
            "in": "path",
            "description": "The block ID",
            "required": true,
            "type": "string",
            "x-example": "1234"
          },
          {
            "name": "includeTransactions",
            "in": "path",
            "description": "True to include transaction details, if false `transactions` will hold only transaction ids",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "false",
              "true"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Block"
            }
          }
        }
      }
    },
    "/blockchain/blocks/account/count/{account}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Counts all blocks generated by account (requires replicator)",
        "description": "",
        "operationId": "accountBlocksCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        }
      }
    },
    "/blockchain/blocks/account/{account}/{firstIndex}/{lastIndex}/{includeTransactions}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a list of block objects for an account from start index to end index (requires replicator)",
        "description": "",
        "operationId": "accountBlocks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstIndex",
            "in": "path",
            "description": "First block to retrieve (optional, default is zero or the last block on the blockchain)",
            "required": true,
            "type": "string",
            "x-example": "1"
          },
          {
            "name": "lastIndex",
            "in": "path",
            "description": "The last block to retrieve (optional, default is firstIndex + 99)",
            "required": true,
            "type": "string",
            "x-example": "10"
          },
          {
            "name": "includeTransactions",
            "in": "path",
            "description": "True to include transaction details, if false `transactions` will hold only transaction ids, if null NO transactions are returned",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "false",
              "true",
              "null"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlockCondensed"
              }
            }
          }
        }
      }
    },
    "/blockchain/blocks/{firstIndex}/{lastIndex}/{includeTransactions}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a list of block objects from start index to end index (requires replicator)",
        "description": "",
        "operationId": "blocks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "firstIndex",
            "in": "path",
            "description": "First block to retrieve (optional, default is zero or the last block on the blockchain)",
            "required": true,
            "type": "string",
            "x-example": "1"
          },
          {
            "name": "lastIndex",
            "in": "path",
            "description": "The last block to retrieve (optional, default is firstIndex + 99)",
            "required": true,
            "type": "string",
            "x-example": "10"
          },
          {
            "name": "includeTransactions",
            "in": "path",
            "description": "True to include transaction details, if false `transactions` will hold only transaction ids, if null NO transactions are returned",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "false",
              "true",
              "null"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlockCondensed"
              }
            }
          }
        }
      }
    },
    "/blockchain/ecblock/{timestamp}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get the Economic Clustering block based on timestamp",
        "description": "",
        "operationId": "ecblock",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "description": "Timestamp",
            "required": true,
            "type": "string",
            "x-example": "1234567"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Block"
            }
          }
        }
      }
    },
    "/blockchain/fees": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Returns all current fees",
        "description": "",
        "operationId": "fees",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Fees"
            }
          }
        }
      }
    },
    "/blockchain/stake/{blockCount}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Returns the combined stake for the past N(min 1, max 1440) block generators",
        "description": "",
        "operationId": "stake",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "blockCount",
            "in": "path",
            "description": "Number of blocks",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/JSONStake"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/blockchain/status": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get the state of the server node and network",
        "description": "",
        "operationId": "status",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockchainStatus"
            }
          }
        }
      }
    },
    "/blockchain/status2": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Returns extended state info (slower)",
        "description": "",
        "operationId": "status2",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/State"
            }
          }
        }
      }
    },
    "/blockchain/transaction/{numericId}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a transaction given its numeric transaction id",
        "description": "",
        "operationId": "transaction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "numericId",
            "in": "path",
            "description": "The transaction ID",
            "required": true,
            "type": "string",
            "x-example": "11112057636390751286"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          }
        }
      }
    },
    "/blockchain/transactions/account/count/{account}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Counts all all transactions for a account (requires replicator)",
        "description": "",
        "operationId": "transactionsAccountCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        }
      }
    },
    "/blockchain/transactions/account/{account}/{from}/{to}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Lists all transactions for a account (requires replicator)",
        "description": "",
        "operationId": "transactionsAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionExtended"
              }
            }
          }
        }
      }
    },
    "/blockchain/transactions/all/count": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Counts all all transactions (requires replicator)",
        "description": "",
        "operationId": "transactionsAllCount",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        }
      }
    },
    "/blockchain/transactions/all/{from}/{to}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Lists all transactions (requires replicator)",
        "description": "",
        "operationId": "transactionsAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionExtended"
              }
            }
          }
        }
      }
    },
    "/blockchain/transactions/block/count/{block}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Counts all all transactions for a block (requires replicator)",
        "description": "",
        "operationId": "transactionsBlockCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "block",
            "in": "path",
            "description": "Block id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        }
      }
    },
    "/blockchain/transactions/block/{block}/{from}/{to}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Lists all transactions for a block (requires replicator)",
        "description": "",
        "operationId": "transactionsBlock",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "block",
            "in": "path",
            "description": "Block id",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionExtended"
              }
            }
          }
        }
      }
    },
    "/blockchain/transactions/list/{sender}/{recipient}/{from}/{to}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Lists all transactions from sender to recipient (requires replicator)",
        "description": "",
        "operationId": "transactionsFromTo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sender",
            "in": "path",
            "description": "Sender account id",
            "required": true,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "path",
            "description": "Recipient account id",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionExtended"
              }
            }
          }
        }
      }
    },
    "/blockchain/unconfirmed/{sender}/{recipient}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a list of unconfirmed transactions",
        "description": "",
        "operationId": "unconfirmedTransactions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sender",
            "in": "path",
            "description": "If provided only unconfirmed transactions sent from this account are returned (optional, pass 0 to accept any sender)",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "recipient",
            "in": "path",
            "description": "If provided only unconfirmed transactions sent to this account are returned (optional, pass 0 to accept any recipient)",
            "required": true,
            "type": "string",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionUnconfirmed"
              }
            }
          }
        }
      }
    },
    "/blockchain/unconfirmedids/{sender}/{recipient}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "Get a list of unconfirmed transaction ids",
        "description": "",
        "operationId": "unconfirmedIds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sender",
            "in": "path",
            "description": "If provided only unconfirmed transaction ids sent from this account are returned (optional, pass 0 to accept any sender)",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "recipient",
            "in": "path",
            "description": "If provided only unconfirmed transaction ids sent to this account are returned (optional, pass 0 to accept any recipient)",
            "required": true,
            "type": "string",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/exchange/asset/accounts/{asset}/{from}/{to}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Returns asset balances (requires replicator)",
        "description": "",
        "operationId": "asset balances",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "description": "The asset numeric id",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountAsset"
              }
            }
          }
        }
      }
    },
    "/exchange/asset/certification": {
      "post": {
        "tags": [
          "Exchange"
        ],
        "summary": "Sets asset certification info (requires replicator)",
        "description": "",
        "operationId": "assetCertify",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "formData",
            "description": "Asset id",
            "required": true,
            "type": "string"
          },
          {
            "name": "certified",
            "in": "formData",
            "description": "Set asset certification status",
            "required": true,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "symbol",
            "in": "formData",
            "description": "Certified asset symbol",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "Certified asset name",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "Transaction fee in HQT (1 HQT equals 0.00000001 HEAT) default fee is 0.01 HEAT",
            "required": true,
            "type": "string",
            "default": "1000000"
          },
          {
            "name": "deadline",
            "in": "formData",
            "description": "The deadline (in minutes) for the transaction to be confirmed, 1440 minutes maximum",
            "required": true,
            "type": "string",
            "default": "1440"
          },
          {
            "name": "secretPhrase",
            "in": "formData",
            "description": "The secret passphrase of the account (optional, but transaction neither signed nor broadcast if omitted)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicKey",
            "in": "formData",
            "description": "The public key of the account (optional if secretPhrase provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "formData",
            "description": "The account ID of the recipient (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipientPublicKey",
            "in": "formData",
            "description": "The public key of the receiving account (optional, enhances security of a new account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "broadcast",
            "in": "formData",
            "description": "Set to false to prevent broadcasting the transaction to the network (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "privateNameAnnouncement",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, announces non-public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAnnouncement",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, announces public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "message",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits (perhaps previously encoded using an arbitrary algorithm) to be converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageIsText",
            "in": "formData",
            "description": "False if the message is a hex string, otherwise the message is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "messageToEncrypt",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncrypt is false) and converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptIsText",
            "in": "formData",
            "description": "False if the message to encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptedMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncrypt if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptedMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptedMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelf",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncryptToSelf is false) and converted into a one kilobyte maximum bytecode then encrypted with AES, then sent to the sending account (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelfIsText",
            "in": "formData",
            "description": "False if the message to self-encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptToSelfMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncryptToSelf if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptToSelfMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptToSelfMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignment",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, assigns non-public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignmentSignature",
            "in": "formData",
            "description": "Private name assignment signature (required when privateNameAssignment was given, see /tools/privatename/signature for details)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignment",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, assigns public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignmentSignature",
            "in": "formData",
            "description": "Public name assignment signature (required when publicNameAssignment was given, see /tools/publicname/signature for details)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionCreate"
            }
          }
        }
      }
    },
    "/exchange/asset/certification/{asset}/{certifierAccount}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Returns asset certification info (requires replicator)",
        "description": "",
        "operationId": "assetCertification",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "1234"
          },
          {
            "name": "certifierAccount",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "5678"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/JSONAssetCertification"
            }
          }
        }
      }
    },
    "/exchange/asset/issue": {
      "post": {
        "tags": [
          "Exchange"
        ],
        "summary": "Create an asset on the exchange",
        "description": "",
        "operationId": "issue",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "quantity",
            "in": "formData",
            "description": "The total amount (in QNT) of the asset in existence, maximum QNT is 9,223,372,036,854,775,807 or 92,233,720,368.54775807 (92 billion whole shares)",
            "required": true,
            "type": "string"
          },
          {
            "name": "decimals",
            "in": "formData",
            "description": "The number of decimal places used by the asset, this value is used for UI display purposes only. All assets are always represented represented internally as 8 decimal numbers. So one whole share is stored as 1.00000000 and the minimum allowed amount is 0.00000001 no matter what number you provide for decimals.",
            "required": false,
            "type": "string",
            "default": "0"
          },
          {
            "name": "descriptionUrl",
            "in": "formData",
            "description": "URL (http/https) pointing to a hosted asset description file (file contents must be UTF-8, url max length is 300 characters, url must start with http:// or https://)",
            "required": false,
            "type": "string"
          },
          {
            "name": "descriptionHash",
            "in": "formData",
            "description": "SHA256 hash of the contents of the asset description file (SHA256 hash must be in HEX format)",
            "required": false,
            "type": "string"
          },
          {
            "name": "dillutable",
            "in": "formData",
            "description": "Is the issuer allowed to later issue more assets",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "Transaction fee in HQT (1 HQT equals 0.00000001 HEAT) default fee is 0.01 HEAT",
            "required": true,
            "type": "string",
            "default": "1000000"
          },
          {
            "name": "deadline",
            "in": "formData",
            "description": "The deadline (in minutes) for the transaction to be confirmed, 1440 minutes maximum",
            "required": true,
            "type": "string",
            "default": "1440"
          },
          {
            "name": "secretPhrase",
            "in": "formData",
            "description": "The secret passphrase of the account (optional, but transaction neither signed nor broadcast if omitted)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicKey",
            "in": "formData",
            "description": "The public key of the account (optional if secretPhrase provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "formData",
            "description": "The account ID of the recipient (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipientPublicKey",
            "in": "formData",
            "description": "The public key of the receiving account (optional, enhances security of a new account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "broadcast",
            "in": "formData",
            "description": "Set to false to prevent broadcasting the transaction to the network (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "privateNameAnnouncement",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, announces non-public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAnnouncement",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, announces public name to your account)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionCreate"
            }
          }
        }
      }
    },
    "/exchange/asset/issuemore": {
      "post": {
        "tags": [
          "Exchange"
        ],
        "summary": "Issue extra assets, assign those extra assets to transaction recipient",
        "description": "",
        "operationId": "issueMore",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "formData",
            "description": "Asset numeric identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "formData",
            "description": "The total amount (in QNT) of the asset to create, the final total allowed number of shares is always maximum QNT is 9,223,372,036,854,775,807 or 92,233,720,368.54775807 (92 billion whole shares)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "Transaction fee in HQT (1 HQT equals 0.00000001 HEAT) default fee is 0.01 HEAT",
            "required": true,
            "type": "string",
            "default": "1000000"
          },
          {
            "name": "deadline",
            "in": "formData",
            "description": "The deadline (in minutes) for the transaction to be confirmed, 1440 minutes maximum",
            "required": true,
            "type": "string",
            "default": "1440"
          },
          {
            "name": "secretPhrase",
            "in": "formData",
            "description": "The secret passphrase of the account (optional, but transaction neither signed nor broadcast if omitted)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicKey",
            "in": "formData",
            "description": "The public key of the account (optional if secretPhrase provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "formData",
            "description": "The account ID of the recipient (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipientPublicKey",
            "in": "formData",
            "description": "The public key of the receiving account (optional, enhances security of a new account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "broadcast",
            "in": "formData",
            "description": "Set to false to prevent broadcasting the transaction to the network (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "privateNameAnnouncement",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, announces non-public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAnnouncement",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, announces public name to your account)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionCreate"
            }
          }
        }
      }
    },
    "/exchange/asset/properties": {
      "post": {
        "tags": [
          "Exchange"
        ],
        "summary": "Sets the asset properties for the given protocol (requires replicator)",
        "description": "",
        "operationId": "assetProperties",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "formData",
            "description": "Asset id",
            "required": true,
            "type": "string"
          },
          {
            "name": "protocol",
            "in": "formData",
            "description": "Protocol indicator (number, everything from 1 and up is valid)",
            "required": true,
            "type": "string"
          },
          {
            "name": "value",
            "in": "formData",
            "description": "Value (UTF-8, max length when converted to bytes is 896)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "Transaction fee in HQT (1 HQT equals 0.00000001 HEAT) default fee is 0.01 HEAT",
            "required": true,
            "type": "string",
            "default": "1000000"
          },
          {
            "name": "deadline",
            "in": "formData",
            "description": "The deadline (in minutes) for the transaction to be confirmed, 1440 minutes maximum",
            "required": true,
            "type": "string",
            "default": "1440"
          },
          {
            "name": "secretPhrase",
            "in": "formData",
            "description": "The secret passphrase of the account (optional, but transaction neither signed nor broadcast if omitted)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicKey",
            "in": "formData",
            "description": "The public key of the account (optional if secretPhrase provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "formData",
            "description": "The account ID of the recipient (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipientPublicKey",
            "in": "formData",
            "description": "The public key of the receiving account (optional, enhances security of a new account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "broadcast",
            "in": "formData",
            "description": "Set to false to prevent broadcasting the transaction to the network (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "privateNameAnnouncement",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, announces non-public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAnnouncement",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, announces public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "message",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits (perhaps previously encoded using an arbitrary algorithm) to be converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageIsText",
            "in": "formData",
            "description": "False if the message is a hex string, otherwise the message is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "messageToEncrypt",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncrypt is false) and converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptIsText",
            "in": "formData",
            "description": "False if the message to encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptedMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncrypt if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptedMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptedMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelf",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncryptToSelf is false) and converted into a one kilobyte maximum bytecode then encrypted with AES, then sent to the sending account (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelfIsText",
            "in": "formData",
            "description": "False if the message to self-encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptToSelfMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncryptToSelf if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptToSelfMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptToSelfMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignment",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, assigns non-public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignmentSignature",
            "in": "formData",
            "description": "Private name assignment signature (required when privateNameAssignment was given, see /tools/privatename/signature for details)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignment",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, assigns public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignmentSignature",
            "in": "formData",
            "description": "Public name assignment signature (required when publicNameAssignment was given, see /tools/publicname/signature for details)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionCreate"
            }
          }
        }
      }
    },
    "/exchange/asset/properties/{asset}/{propertiesAccount}/{propertiesProtocol}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Find asset properties by numeric id, properties account and protocol (requires replicator)",
        "description": "",
        "operationId": "asset properties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "1739068987193023818"
          },
          {
            "name": "propertiesAccount",
            "in": "path",
            "description": "Asset properties account id determines whose asset properties you want included in the result, a value of 0 means the asset issuer",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesProtocol",
            "in": "path",
            "description": "Asset properties protocol, a value of 0 means not to include asset properties in the result",
            "required": true,
            "type": "string",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AssetProperties"
            }
          }
        }
      }
    },
    "/exchange/asset/protocol1/{symbol}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Finds protocol 1 asset by symbol (requires replicator)",
        "description": "Protocol 1 assets enforce unique symbol names",
        "operationId": "assetProtocol1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Asset symbol",
            "required": true,
            "type": "string",
            "default": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/JSONAssetProtocol1"
            }
          }
        }
      }
    },
    "/exchange/assets/protocol1/{from}/{to}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Lists all protocol 1 assets (requires replicator)",
        "description": "Protocol 1 assets enforce unique symbol names",
        "operationId": "assetsProtocol1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONAssetProtocol1"
              }
            }
          }
        }
      }
    },
    "/exchange/chartdata/{currency}/{asset}/{window}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Retrieves OHLC chart data for trading pair (requires replicator)",
        "description": "Chartdata entries in the 'data' property are arrays with indexed properties.<br>[<br>&nbsp;&nbsp;timestamp, // number timestamp in HEAT epoch format<br>&nbsp;&nbsp;avg,       // string or number if < 9007199254740991<br>&nbsp;&nbsp;low,       // string or number if < 9007199254740991<br>&nbsp;&nbsp;high,      // string or number if < 9007199254740991<br>&nbsp;&nbsp;vol,       // string or number if < 9007199254740991<br>&nbsp;&nbsp;open,      // string or number if < 9007199254740991<br>&nbsps;&nbsp;close     // string or number if < 9007199254740991<br>]",
        "operationId": "chartdata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Currency ID (0 indicates HEAT, every other number indicates an asset)",
            "required": true,
            "type": "string"
          },
          {
            "name": "asset",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "window",
            "in": "path",
            "description": "Charting interval window",
            "required": true,
            "type": "string",
            "default": "ONE_MINUTE",
            "enum": [
              "ONE_MINUTE",
              "FIVE_MINUTES",
              "TEN_MINUTES",
              "HOUR",
              "DAY",
              "WEEK"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ChartData"
            }
          }
        }
      }
    },
    "/exchange/market/{currency}/{asset}/{propertiesAccountId}/{propertiesProtocol}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Finds a market for a currency and asset (requires replicator)",
        "description": "",
        "operationId": "market",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "asset",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesAccountId",
            "in": "path",
            "description": "Asset properties account id determines whose asset properties you want included in the result, a value of 0 means the asset issuer",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesProtocol",
            "in": "path",
            "description": "Asset properties protocol, a value of 0 means not to include asset properties in the result",
            "required": true,
            "type": "string",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Market"
              }
            }
          }
        }
      }
    },
    "/exchange/markets/all/{sort}/{asc}/{propertiesAccountId}/{propertiesProtocol}/{from}/{to}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Lists all markets (requires replicator)",
        "description": "",
        "operationId": "marketsAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "path",
            "description": "Sort order, sort is either by 24hr percentage change (default), 24hr volume, price or none (database natural order)",
            "required": true,
            "type": "string",
            "default": "change",
            "enum": [
              "change",
              "volume",
              "price",
              "none"
            ]
          },
          {
            "name": "asc",
            "in": "path",
            "description": "Sort ascending",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "propertiesAccountId",
            "in": "path",
            "description": "Asset properties account id determines whose asset properties you want included in the result, a value of 0 means the asset issuer",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesProtocol",
            "in": "path",
            "description": "Asset properties protocol, a value of 0 means not to include asset properties in the result",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Market"
              }
            }
          }
        }
      }
    },
    "/exchange/markets/{currency}/{sort}/{asc}/{propertiesAccountId}/{propertiesProtocol}/{from}/{to}": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Lists all markets for a currency (requires replicator)",
        "description": "",
        "operationId": "markets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Currency",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "sort",
            "in": "path",
            "description": "Sort order, sort is either by 24hr percentage change (default), 24hr volume, price or none (database natural order)",
            "required": true,
            "type": "string",
            "default": "change",
            "enum": [
              "change",
              "volume",
              "price",
              "none"
            ]
          },
          {
            "name": "asc",
            "in": "path",
            "description": "Sort ascending",
            "required": true,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "propertiesAccountId",
            "in": "path",
            "description": "Asset properties account id determines whose asset properties you want included in the result, a value of 0 means the asset issuer",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertiesProtocol",
            "in": "path",
            "description": "Asset properties protocol, a value of 0 means not to include asset properties in the result",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Market"
              }
            }
          }
        }
      }
    },
    "/exchange/transfer": {
      "post": {
        "tags": [
          "Exchange"
        ],
        "summary": "Transfer a quantity of an asset from one account to another",
        "description": "",
        "operationId": "transfer",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "formData",
            "description": "Asset ID of the asset being transfered",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "formData",
            "description": "The amount (in QNT) of the asset being transfered",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "Transaction fee in HQT (1 HQT equals 0.00000001 HEAT) default fee is 0.01 HEAT",
            "required": true,
            "type": "string",
            "default": "1000000"
          },
          {
            "name": "deadline",
            "in": "formData",
            "description": "The deadline (in minutes) for the transaction to be confirmed, 1440 minutes maximum",
            "required": true,
            "type": "string",
            "default": "1440"
          },
          {
            "name": "secretPhrase",
            "in": "formData",
            "description": "The secret passphrase of the account (optional, but transaction neither signed nor broadcast if omitted)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicKey",
            "in": "formData",
            "description": "The public key of the account (optional if secretPhrase provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "formData",
            "description": "The account ID of the recipient (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipientPublicKey",
            "in": "formData",
            "description": "The public key of the receiving account (optional, enhances security of a new account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "broadcast",
            "in": "formData",
            "description": "Set to false to prevent broadcasting the transaction to the network (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "privateNameAnnouncement",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, announces non-public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAnnouncement",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, announces public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "message",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits (perhaps previously encoded using an arbitrary algorithm) to be converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageIsText",
            "in": "formData",
            "description": "False if the message is a hex string, otherwise the message is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "messageToEncrypt",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncrypt is false) and converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptIsText",
            "in": "formData",
            "description": "False if the message to encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptedMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncrypt if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptedMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptedMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelf",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncryptToSelf is false) and converted into a one kilobyte maximum bytecode then encrypted with AES, then sent to the sending account (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelfIsText",
            "in": "formData",
            "description": "False if the message to self-encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptToSelfMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncryptToSelf if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptToSelfMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptToSelfMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignment",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, assigns non-public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignmentSignature",
            "in": "formData",
            "description": "Private name assignment signature (required when privateNameAssignment was given, see /tools/privatename/signature for details)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignment",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, assigns public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignmentSignature",
            "in": "formData",
            "description": "Public name assignment signature (required when publicNameAssignment was given, see /tools/publicname/signature for details)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionCreate"
            }
          }
        }
      }
    },
    "/keystore/count/{account}": {
      "get": {
        "tags": [
          "KeyStore"
        ],
        "summary": "Counts key/value entries for an account (requires replicator)",
        "description": "",
        "operationId": "keyStoreCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account scope (numeric account identifier)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        }
      }
    },
    "/keystore/get/{account}/{key}": {
      "get": {
        "tags": [
          "KeyStore"
        ],
        "summary": "Get the value for account key value  (requires replicator)",
        "description": "",
        "operationId": "keyStoreGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account scope (numeric account identifier)",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Key name (UTF-8, max length when converted to bytes is 100)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyStoreBundle"
            }
          }
        }
      }
    },
    "/keystore/list/{account}/{from}/{to}": {
      "get": {
        "tags": [
          "KeyStore"
        ],
        "summary": "Lists all keys for account (requires replicator)",
        "description": "",
        "operationId": "keyStoreList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account scope (numeric account identifier)",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "path",
            "description": "From index",
            "required": true,
            "type": "string",
            "default": "0"
          },
          {
            "name": "to",
            "in": "path",
            "description": "To index",
            "required": true,
            "type": "string",
            "default": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KeyStoreBundle"
              }
            }
          }
        }
      }
    },
    "/keystore/put": {
      "post": {
        "tags": [
          "KeyStore"
        ],
        "summary": "Sets the value identified by key (requires replicator)",
        "description": "",
        "operationId": "keyStorePut",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "formData",
            "description": "Key name (UTF-8, max length when converted to bytes is 100)",
            "required": true,
            "type": "string"
          },
          {
            "name": "value",
            "in": "formData",
            "description": "Value (UTF-8, max length when converted to bytes is 896)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "Transaction fee in HQT (1 HQT equals 0.00000001 HEAT) default fee is 0.01 HEAT",
            "required": true,
            "type": "string",
            "default": "1000000"
          },
          {
            "name": "deadline",
            "in": "formData",
            "description": "The deadline (in minutes) for the transaction to be confirmed, 1440 minutes maximum",
            "required": true,
            "type": "string",
            "default": "1440"
          },
          {
            "name": "secretPhrase",
            "in": "formData",
            "description": "The secret passphrase of the account (optional, but transaction neither signed nor broadcast if omitted)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicKey",
            "in": "formData",
            "description": "The public key of the account (optional if secretPhrase provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "formData",
            "description": "The account ID of the recipient (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipientPublicKey",
            "in": "formData",
            "description": "The public key of the receiving account (optional, enhances security of a new account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "broadcast",
            "in": "formData",
            "description": "Set to false to prevent broadcasting the transaction to the network (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "privateNameAnnouncement",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, announces non-public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAnnouncement",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, announces public name to your account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "message",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits (perhaps previously encoded using an arbitrary algorithm) to be converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageIsText",
            "in": "formData",
            "description": "False if the message is a hex string, otherwise the message is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "messageToEncrypt",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncrypt is false) and converted into a bytecode with a maximum length of one kilobyte",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptIsText",
            "in": "formData",
            "description": "False if the message to encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptedMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncrypt if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptedMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptedMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelf",
            "in": "formData",
            "description": "Either UTF-8 text or a string of hex digits to be compressed (unless compressMessageToEncryptToSelf is false) and converted into a one kilobyte maximum bytecode then encrypted with AES, then sent to the sending account (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageToEncryptToSelfIsText",
            "in": "formData",
            "description": "False if the message to self-encrypt is a hex string, otherwise the message to encrypt is text (optional)",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "encryptToSelfMessageData",
            "in": "formData",
            "description": "Already encrypted data which overrides messageToEncryptToSelf if provided (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "encryptToSelfMessageNonce",
            "in": "formData",
            "description": "A unique 32-byte number which cannot be reused (optional unless encryptToSelfMessageData is provided)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignment",
            "in": "formData",
            "description": "8 byte numeric name hash (optional, assigns non-public name to recipient account)",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateNameAssignmentSignature",
            "in": "formData",
            "description": "Private name assignment signature (required when privateNameAssignment was given, see /tools/privatename/signature for details)",
            "required": false,
            "type": "string"
          },
          {
            "name": "publicNameAssignment",
            "in": "formData",
            "description": "Account name, UTF-8 min length 3, max length 100 (optional, assigns public name to recipient account)",
            "required": false,
            "type": "string"
[...]
